@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer-top {
  background: #1d1d1d;
  padding: 20px 0;

  &__content {
    @include flex-between;

    flex-wrap: wrap;
    gap: 16px;
  }

  &__link {
    font-size: 14px;
    color: rgba($light, 0.6);

    @include smooth;

    &:hover {
      color: $accent;
    }
  }
}
