@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.header {
  position: relative;

  height: 100vh;
  max-height: 700px;

  background: url('/src/images/header-bg.png') center / cover no-repeat;

  color: $light;

  overflow: hidden;

  .container {
    position: relative;

    height: 100%;
  }

  &__content {
    position: absolute;

    top: 428px;
    left: 50%;
    transform: translateX(-50%);

    width: 672px;

    display: flex;
    justify-content: center;
  }

  &__title {
    font-family: Poppins, sans-serif;

    font-size: 80px;

    font-weight: 700;

    line-height: 100%;

    letter-spacing: -1.5px;

    text-align: center;

    color: #fff;

    margin: 0;
  }

  @media (max-width: 1024px) {
    &__content {
      width: 100%;

      top: 380px;

      padding-inline: 20px;
    }

    &__title {
      font-size: 64px;
    }
  }

  @media (max-width: 767px) {
    &__content {
      top: 300px;
    }

    &__title {
      font-size: 42px;

      line-height: 1;
    }
  }
}
