@use '../utils/mixins' as *;

.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include smooth;

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }

  &--phone {
    background-image: url('/src/images/icon-phone.png');
  }

  &--menu {
    background-image: url('/src/images/icon-menu.png');
    cursor: pointer;
  }
}
