@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.section {
  @include section-padding;

  &__title {
    @include title-section;

    color: $dark;
  }

  &__text {
    font-size: 16px;
    line-height: 1.7;
    color: $text-muted;
    max-width: 600px;
  }
}
